@import "tailwindcss";

@theme {
  --breakpoint-xss: 280px;
}

@theme {
  --breakpoint-xs: 375px;
}

@theme {
  --breakpoint-mlg: 820px;
}

body {
  font-family: "Gilroy", sans-serif;
}

.highest-width {
        @apply mx-auto px-4 sm:px-6 lg:px-16
}

button {
  @apply items-center px-5 py-3 border border-[#225AD6] rounded-lg font-thin transition duration-300
}

.solid-btn {
  @apply bg-[#225AD6] items-center text-white px-5 py-3 rounded-lg font-thin hover:bg-[#1a43b8] transition duration-300
}

.solid-btn2 {
  @apply items-center bg-white px-5 py-3 rounded-lg font-thin hover:bg-[#d8d8d8] transition duration-300
}

.solid-btn3 {
  @apply text-[#225AD6] items-center bg-white px-5 py-3 rounded-lg font-thin hover:bg-[#d8d8d8] transition duration-300
}

h1 {
  @apply text-[35px] lg:text-[38px] xl:text-[50px] -mt-1
}

h2 {
  @apply text-[28px] lg:text-[32px] xl:text-[35px] -mt-1
}

h6 {
  @apply text-[18px] lg:text-[21px] xl:text-[18px] font-medium
}

h1 {
  font-weight: 800;
}

h2, h4 {
  font-weight: 700;
}

p {
  font-size: medium;
  font-weight: 10;
  line-height: 26px;
}

a {
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: "Gilroy", sans-serif;
   font-size: 15px;
}    

header {
  font-family: "Gilroy";
  font-weight: 700;
  padding: 20px 0;
}     

nav {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

nav a {
  margin-right: 15px;
}

footer {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
}

.xxs {
  @apply max-w-[500px];
}

.custom-spacing > * + * {
  margin-top: 1.5rem; /* same as Tailwind's space-y-4 */
}
